<nav class="nav">
  <ul class="list list--nav">
    {% for item in site.pages %}
			{% unless item.title == false or item.title == "Search" or item.url == "/" or item.url contains "/page" or item.url contains "/404.html" or item.url contains "/feed." %}
				{% if item.title contains "categories" or item.title contains "Categories" %}
					<li class="item  item--nav{% if item.url == page.url %}  item--current{% endif %}">
						{% if item.collection %}
							{% assign collectiondata = site.collections | where: "label", item.collection | first %}
							<a href="{{ item.url }}" title="Page - {{ collectiondata.title }}">{{ collectiondata.title }}</a>
						{% else %}
							<a href="{{ item.url }}" title="Page - {{ item.title }}">{{ item.title }}</a>
						{% endif %}
					</li>
				{% endif %}
			{% endunless %}
    {% endfor %}
  </ul>
</nav>
