{% if paginator.posts %}
	<section class="section  typeset">
		<ul class="list  list--posts">
			{% for page in paginator.posts %}
				<li class="item  item--post">
					<article class="article  article--post">

						<h2><a href="{{ page.url }}" title="Post - {{ page.title }}">{{ page.title }}</a></h2>
						{% include post-meta.html %}
						{% if include.page_type == "collections" %}
							<a href="{{ page.url }}" title="Post - {{ page.title }}">
								<img src={{ page.feature_image }} alt={{ page.title }}>
							</a>
						{% endif %}
						{{ page.excerpt | markdownify | truncatewords: 60 }}

					</article>
				</li>
			{% endfor %}
		</ul>
		{% include post-pagination.html %}
	</section>

{% else %}
<!-- {% assign collection = site.collections | where: "label", include.type | first %} -->
  {% assign collection = site.pages %}
	<section class="section  typeset">
		<ul class="list  list--posts">
			{% for page in collection.docs limit: 4 %}
				<li class="item  item--post">
					<article class="article  article--post">

						<h2><a href="{{ page.url }}" title="Post - {{ page.title }}">{{ page.title }}</a></h4>
						{% include post-meta.html %}
						{{ page.excerpt | markdownify | truncatewords: 60 }}

					</article>
				</li>
			{% endfor %}
		</ul>
	</section>

{% endif %}
