<footer class="footer">
  <div class="container">
    {% include nav-footer.html %}
    
    <div class="copyright  typeset">
      <small class="small">&copy; {{ site.title }} {{ site.time | date: '%Y' }}</small>
		</div>
    <div class="copyright  typeset">
			<small class='small'><a href='https://support.google.com/adsense/answer/1348695?hl=en'>Privacy Policy</a></small>
		</div>
  </div>
</footer>
