<aside class="aside  typeset">

	{% if include.type %}
		{% if include.type == "homepage" %}
			<h3>About this site</h3>
			<p>{{ site.description }}</p>
		{% endif %}
		{% if include.type == "post" %}
			<h3>Related Posts</h3>
			{% include post-related.html %}
		{% endif %}
	{% endif %}
	{% include button.html text="Subscribe to posts &nbsp;" icon="rss" link="/feed.xml" %}
	{% include nav-social.html %}

  {% if page.layout == "categories" or include.type == "posts" or include.type == "homepage" %}
    <section class="section  section--category-index">
      <h3>Index</h3>
      {% include nav-categories.html %}
    </section>
  {% endif %}

</aside>
