<script src="/assets/js/threejs/three.min.js"></script>
<script src="/assets/js/threejs/Detector.js"></script>
<script src="/assets/js/threejs/stats.min.js"></script>
<script src="/assets/js/threejs/CurveExtras.js"></script>
<script src="/assets/js/threejs/ParametricGeometries.js"></script>
<script>
	if ( ! Detector.webgl ) Detector.addGetWebGLMessage();
</script>
<style>
	.threejs {
		width: 100%;
		color: #eee;
		font-family:Monospace;
		font-size:13px;
		text-align:center;

		background-color: #000;
		margin: 0px;
		padding: 0px;
		overflow: hidden;
	}
</style>
