// Colours
$color__site--background: #fff;
$color__site--heading: #333;
$color__site--body: darken($color__site--heading, 10%);
$color__feature--background: darken($color__site--background, 5%);
$color__site--captions: lighten($color__site--heading, 50%);
$color__site--link: #39a0ff;
$color__site--link--hover: darken($color__site--link, 10%);
$color__site--link--current: desaturate($color__site--link, 100%);
$color__site--accent: #a9d6ff;
