---
layout: default
---

{% include site-header.html %}

<main class="main  container">

	<div class="content">

    <article class="article  article--page  typeset">

			{% assign collectiondata = site.collections | where: "label", page.collection | first %}
			<h1>{{ collectiondata.title }}</h1>

			{{ collectiondata.description | markdownify }}

    </article>

    {% include post-list.html type=page.collection page_type="collections" %}

  </div>

  {% include site-aside.html type=page.collection page_type="collections" %}

</main>

{% include site-footer.html %}
