---
layout: default
---

{% include site-header.html %}

<main class="main  container">

	<article class="article  article--page  content  typeset">

    <h1>{{ page.title }}</h1>

    {{ content }}

  </article>

  {% include site-aside.html type="homepage" %}

</main>

{% include site-footer.html %}
